main {
    background: none !important;
}

#content-image-slider {
    width: 1024px;
    height: 576px;
    overflow: hidden;
    margin: 0 auto;
}

#content-image-slider .content-slides {
    display: block;
    width: 6000px;
    height: 576px;
    margin: 0;
    padding: 0;
}

#content-image-slider .content-slide {
    float: left;
    list-style-type: none;
    width: 1024px;
    height: 576px;
}

.blank-space {
    height: 200px;
}

.content-image-slider-indicator {
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: black;
}

.content-video {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.content-video video {
    padding: 50px;
}

#trailer-video {
    width: 700px;
    height: 400px;
}

.description {
    padding: 50px;
}

.description p {
    text-align: justify;
    font-weight: 400;
    font-size: large;
}

.description h1 {
    font-weight: 800;
    font-size: 60px;
}

#play-button {
    padding: 20px 60px;
    border-radius: 15px;
    border: none;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: large;
    background-image: linear-gradient(to left, #f2400d, #fff32a);
    color: white;
    cursor: pointer;
    transition: 0.6s;
    background-size: 150%;
}

#play-button:hover {
    color: black;
    background-position: right;
}

.content-feature {
    margin-top: 100px;
    padding: 65px;
}

aside h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-top: 0px;
}

aside .card-wrapper {
    display: flex;
    justify-content: space-between;
}

.quality-card {
    position: relative;
    width: 22%;
    height: auto;
    border: 3px solid black;
    border-radius: 20px;
    position: relative;
    top: 0;
    transition: top ease 0.2s;
    text-align: center;
}

.quality-card:hover {
    top: -15px;
}

.quality-card img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
}

.quality-card h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 0;
}

.quality-card p {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 20px;
}

.content-top-characters {
    text-align: center;
    margin-top: 130px;
}

.content-top-characters h1 {
    font-size: 50px !important;
}

.content-top-characters-title {
    display: flex;
    margin-bottom: 75px;
}

.content-top-characters-title h1 {
    position: absolute;
    margin: 0 auto;
    width: 100%;
}

.content-top-characters-title button {
    position: absolute;
    margin: 0 auto;
    right: 50px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
    background: white;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    font-weight: 800;
    transition: 0.5s;
    color: black;
}

.content-top-characters-title button:hover {
    background: black;
    color: white;
}

.top-characters {
    text-align: center;
    display: flex;
    align-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.character {
    padding: 0 5px;
    float: left;
    width: 19%;
    margin: 0;
}

.sub-character {
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    transform: translateY(20px);
    cursor: pointer;
    margin: 0px 15px;
}

.sub-character img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 800px) {
    .character {
        width: 30%;
    }
    .Content-1-txt {
        flex: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20% 20% 0px 20%;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .character {
        width: 40%;
        padding-left: 30px;
    }
    .Content-1-txt {
        flex: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 25% 15% 0px 15%;
        text-align: center;
    }
}

@media only screen and (max-width: 400px) {
    .character {
        width: 80%;
        padding-left: 30px;
    }
    .Content-1-txt {
        flex: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 40% 10% 0px 10%;
        text-align: center;
    }
    .Content-1-txt h1 {
        margin: 0px;
        font-size: 40px;
    }
    .Content-1-txt h3 {
        margin: 0px;
        font-size: 20px;
    }
    .custom-separator {
        height: 2px;
    }
}